
{% extends 'base/root_nav_sidebar.html' %}
{% block title %}
Mon Vet Conseil - tarifs
{% endblock %}

{% block content %}
<main role="main" class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="h3 mb-3 page-title">les Tarifs d'hébergements de <span class="text-primary">Mon vet'Conseil </span> </h2>
                <div class="row">
                    <!-- Striped rows -->
                    <div class="col-md-12 my-4">

                        <div class="card shadow">
                            <div class="card-body">
                                <div class="toolbar row mb-3">

                                </div>
                                <!-- table -->
                                <table class="table table-bordered">
                                    <thead>

                                    <tr role="row">

                                        <th>race</th>
                                        <th>tarif journalier</th>
                                        <th>tarif horaire</th>
                                        <th>-</th>

                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for tarifs in tarif %}


                                    <tr>

                                        <td>{{ tarifs.race.designation }}</td>
                                        <td>{{ tarifs.montant_journalier }}</td>
                                        <td>{{ tarifs.montant_horaire }}</td>

                                        <td>
                                                <a href="{% url 'modify_tarif' id_tarif=tarifs.id %}" class=" btn btn-outline-primary ">modifier</a>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div> <!-- simple table -->
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}