# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore log files
*.log

# Ignore virtual environment files
venv/

# Ignore operating system files
.DS_Store
Thumbs.db
.idea/
.env

#ignore some files in hebergement
./hebergement/migrations/*.py
./hebergement/views/test.py
./hebergement/views/calendat.py