{% extends 'base/root_nav_sidebar.html' %}

{% block title %}
Formulaire d'ajout d'animaux
{% endblock %}

{% block content %}

<main role="main" class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="h3 mb-3 page-title">Ajouter un planing pour les animaux</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card shadow mb-4">
                            <div class="card-header">
                                <strong class="card-title">formulaire</strong>
                            </div>
                            <div class="card-body">
                                <form class="needs-validation" method="post" action="{% url 'traiter_formulaire' %}">
                                {% csrf_token %}
                                    <div class="form-row">


                                        <div class="col-md-12 mb-3">
                                              <label for="inputState">Race</label>
                                              <select id="inputState" class="form-control" name="race_animal">
                                                  {% for race in races %}
                                                    <option value="{{ race.id }}">{{ race.designation }}</option>
                                                  {% endfor %}
                                              </select>

                                        </div>
                                        <div class="col-md-6 mb-3">

                                        </div>
                                    </div>
                                    <div class="form-row">

                                        <div class="col-md-5 mb-3">
                                            <label for="age">Age</label>
                                            <input type="text" class="form-control" id="age" name="debut_age" required placeholder="debut age">
                                            <div class="invalid-feedback">{{ "veuillez"|title }} sélectionner un age valide </div>
                                        </div>
                                        <div class="offset-2 col-md-5 mb-3">
                                            <label for="validationCustom05">.</label>
                                            <input type="text" class="form-control" id="validationCustom05" name="fin_age" required placeholder="fin age">
                                        </div>
                                        <div class="col-md-3 mb-3"></div>
                                    </div>
                                 <div class="form-row">

                                        <div class="col-md-5 mb-3">
                                            <label for="age">début de validité</label>
                                            <input type="date" class="form-control" id="validite" name="debut_validite">
                                        </div>
                                        <div class="offset-2 col-md-5 mb-3">
                                            <label for="validationCustom05">fin de validité</label>
                                            <input type="date" class="form-control" id="fin_validite" name="fin_validite">
                                        </div>
                                        <div class="col-md-3 mb-3"></div>
                                    </div>

                                    <button class="btn btn-primary" type="submit">valider</button>
                                </form>
                            </div> <!-- /.card-body -->
                        </div> <!-- /.card -->
                    </div> <!-- /.col -->
                    <!-- /.col -->
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}