{% extends 'base/root_nav_sidebar.html' %}
{% load static %}
{% block title %}

{% endblock %}

{% block content %}
<main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
                <div class="row">
                    <div class="">
                        <h2 class="mb-2 page-title">Planing pour l'hébergement d'animaux</h2>
                    </div>


                </div>
            <div class="row">
{% for race in races %}

                <div class="card col-2 m-2" >
                    <div class="card-body">
                      <div class="row align-items-center">
                        <a class="col pr-0" href="{% url 'show_animaux_calendrier' race_id=race.id %}">
                          <span class="h4 mb-0">{{ race.designation }}</span>
                        </a>
                      </div>
                    </div>
                </div>

{% endfor %}
             </div>
              <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">
                      <!-- table -->
                      <table class="table datatables" id="dataTable-1">
                        <thead>
                          <tr>
                            <th>#</th>
                           <th>race</th>
                            <th>début de la date de validité</th>
                            <th>fin de la date de validité</th>
                            <th>début age accepté</th>
                            <th>fin age accepté</th>


                          </tr>
                        </thead>
                        <tbody>

                        {% for re in animal_accepte %}


                          <tr>

                            <td>{{ re.id }}</td>
                            <td>{{ re.race.designation}}</td>
                            <td>{{ re.debut_interval_validite }}</td>
                            <td>{{ re.fin_interval_validite }} </td>
                            <td>{{ re.debut_interval_age }}</td>
                            <td>{{ re.fin_interval_age }}</td>

{#                              modal details #}

                          </tr>
                        {% endfor %}



                        </tbody>
                      </table>
                    </div>
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
</main>




{% endblock %}