{% extends 'base/root.html' %}
{% load static %}
{# navbar #}
{% block navbar %}
    <nav class="topnav navbar navbar-light">
        <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
          <i class="fe fe-menu navbar-toggler-icon"></i>
        </button>

        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="light">
              <i class="fe fe-sun fe-16"></i>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-muted pr-0" href="{% url 'logout' %}">
              <span class="avatar avatar-sm mt-2">
                <img src="{% static '/assets/avatars/face-1.jpg'%}" alt="..." class="avatar-img rounded-circle">
              </span>
            </a>
          </li>
        </ul>
      </nav>

    {% endblock %}

{#sidebar#}

    {% block sidebar %}
          <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
        <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
          <i class="fe fe-x"><span class="sr-only"></span></i>
        </a>
        <nav class="vertnav navbar navbar-light">
          <!-- nav bar -->
          <div class="w-100 mb-4 d-flex">
            <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="./index.html">
                <img src="{% static 'assets/images/logo-dark.png'%}" class="navbar-brand-img brand-sm rounded-circle" alt="">
            </a>
          </div>
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item ">

{#                dashboard  #}
              <a href="{% url 'load_hosting_managemment' %}" >
                <i class="fe fe-home fe-16"></i>
                <span class="ml-3 item-text">Mon Vet'Conseil</span><span class="sr-only">(current)</span>
              </a>

            </li>
          </ul>
          <p class="text-muted nav-heading mt-4 mb-1">
            <span>hébergement</span>
          </p>
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item ">
              <a href="{% url 'load_hosting_managemment' %}" class=" nav-link">
                <i class="fe fe-box fe-16"></i>
                <span class="ml-3 item-text">Gestion d'hébergement </span>
              </a>
            </li>

              <li class="nav-item ">
              <a href="{% url 'add_new_hosting_request' %}" class=" nav-link">
                <i class="fe fe-plus-circle fe-16"></i>
                <span class="ml-3 item-text">Nouvelle demande</span>
              </a>
            </li>

              <li class="nav-item ">
              <a href="{% url 'load_hosting_request' %}" class=" nav-link">
                <i class="fe fe-clock fe-16"></i>
                <span class="ml-3 item-text">Hébergement en attente</span>
              </a>
            </li>

              <li class="nav-item ">
              <a href="{% url 'load_hosting_request' %}" class=" nav-link">
                <i class="fe fe-check fe-16"></i>
                <span class="ml-3 item-text">Hébergement validés</span>
              </a>
            </li>

              <li class="nav-item ">
              <a href="{% url 'Add_new_type_animals' %}" class=" nav-link">
                <i class="fe fe-plus-square fe-16"></i>
                <span class="ml-3 item-text">Ajout planing animal</span>
              </a>
            </li>

          </ul>
            <p class="text-muted nav-heading mt-4 mb-1">
                <span>Administration</span>
            </p>
            <ul class="navbar-nav flex-fill w-100 mb-2">
                <li class="nav-item ">
                    <a href="{% url 'liste_poste' %}" class=" nav-link">
                        <i class="fe fe-trello fe-16"></i>
                        <span class="ml-3 item-text">Postes </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="{% url 'liste_personnel' %}" class=" nav-link">
                        <i class="fe fe-users fe-16"></i>
                        <span class="ml-3 item-text">Personnels</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="{% url 'liste_race' %}" class=" nav-link">
                        <i class="fe fe-info fe-16"></i>
                        <span class="ml-3 item-text">Races </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="{% url 'liste_client' %}" class=" nav-link">
                        <i class="fe fe-user fe-16"></i>
                        <span class="ml-3 item-text">Clients </span>
                    </a>
                </li>

                <li class="nav-item ">
                    <a href="{% url 'liste_patient' %}" class=" nav-link">
                        <i class="fe fe-thermometer fe-16"></i>
                        <span class="ml-3 item-text">Patients</span>
                    </a>
                </li>



            </ul>
<p class="text-muted nav-heading mt-4 mb-1">
            <span>Rendez vous</span>
          </p>
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item dropdown">
              <a href="#ui-elements" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                <i class="fe fe-calendar fe-16"></i>
                <span class="ml-3 item-text">Rendez-vous </span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="ui-elements">
                <li class="nav-item">
                  <a class="nav-link pl-3" href="{% url 'Nouveau_rendez_vous'%}"><span class="ml-1 item-text">Nouveau rendez-vous</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" href="{% url 'calendar'%}"><span class="ml-1 item-text">Afficher rendez-vous</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" href="/vet/demande_de_rendez_vous"><span class="ml-1 item-text">Demande</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" href="/vet/nouveau_tarif"><span class="ml-1 item-text">Tarif</span></a>
                </li>
                
              </ul>
            </li>
          </ul>


        </nav>
      </aside>
    {% endblock %}
