{% extends 'base/root_nav_sidebar.html' %}
{% load static %}
{% block title %}

{% endblock %}

{% block content %}

<main role="main" class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="h3 mb-3 page-title">Information hebergement</h2>
                <div class="row my-4">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow">
                            <div class="card-body my-n3">
                                <div class="row align-items-center">
                                    <div class="col-3 text-center">
                          <span class="circle circle-lg bg-light">
{#                            <?xml version="1.0" ?>#}
                              <img src="{% static 'assets/icons/cat_fish.png' %}" alt="">
                          </span>
                                    </div> <!-- .col -->
                                    <div class="col">

{#        LIENS VERS ANIMAUX/LISTE_ANIMAUX_HEBERGES.html                                #}
                                        <a href="/hebergement/list_can_be_hosted_animals">
                                            <h3 class="h5 mt-4 mb-1">Animaux</h3>
                                        </a>
                                        <p class="text-muted">
                                            c'est ici que voir aller voir la liste des animaux que <span class="text-primary">Mon vet Conseil</span> peux héberger
                                        </p>
                                    </div> <!-- .col -->
                                </div> <!-- .row -->
                            </div> <!-- .card-body -->
                            <div class="card-footer">
                                <a href="/hebergement/list_can_be_hosted_animals" class="d-flex justify-content-between text-muted"><span>A propos des animaux</span><i class="fe fe-chevron-right"></i></a>
                            </div> <!-- .card-footer -->
                        </div> <!-- .card -->
                    </div> <!-- .col-md-->


                    <div class="col-md-4">
                        <div class="card mb-4 shadow">
                            <div class="card-body my-n3">
                                <div class="row align-items-center">
                                    <div class="col-3 text-center">
{#                                        icone pour nourriture #}
                                      <span class="circle circle-lg p-2 bg-light">
                                          <img src="{% static 'assets/icons/dog-bone.png' %}" class="img-responsive" alt="">
                                      </span>
                                    </div> <!-- .col -->
                                    <div class="col">
                                        <a href=" {% url 'load_list_animals_food' %}">
                                            <h3 class="h5 mt-4 mb-1">Nourriture</h3>
                                        </a>
                                        <p class="text-muted">
                                            c'est ici que vous verrez plus d'informations sur la nourriture que l'on offre aux animaux domestiques
                                        </p>
                                    </div> <!-- .col -->
                                </div> <!-- .row -->
                            </div> <!-- .card-body -->
                            <div class="card-footer">
                                <a href="/hebergement/list_foods" class="d-flex justify-content-between text-muted"><span>a propos de nourriture</span><i class="fe fe-chevron-right"></i></a>
                            </div> <!-- .card-footer -->
                        </div> <!-- .card -->
                    </div> <!-- .col-md-->
                    <!-- .col-md-->
                </div> <!-- .row-->
            </div>
        </div>
    </div>
</main>
{% endblock %}