{% extends 'base/root_nav_sidebar.html' %}
{% block title %}
Demandes d'hébergement
{% endblock %}

{% block content %}
<main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
                <div class="row">
                    <div class="col-5">
                        <h2 class="mb-2 page-title">liste des animaux hébergés</h2>
                    </div>


                </div>

              <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">
                      <!-- table -->
                      <table class="table datatables" id="dataTable-1">
                        <thead>
                          <tr>
                            <th></th>
                            <th>#</th>
                           <th>race</th>
                            <th>debut intervalle age</th>
                            <th>fin intervalle age</th>
                            <th>début d'hébergement</th>
                            <th>fin d'hébergement</th>
                            <th>details</th>

                          </tr>

                        </thead>
                        <tbody>
                        {% for animaux in animal %}
                          <tr>
                            <td>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <label class="custom-control-label"></label>
                              </div>
                            </td>
                            <td>{{ animaux.id }}</td>
                              <td>{{ animaux.race }}</td>
                            <td>{{ animaux.debut_interval_age }}</td>
                            <td>{{ animaux.fin_interval_age }}</td>
                            <td>{{ animaux.debut_interval_validite }}</td>
                            <td>{{ animaux.fin_interval_validite }}</td>
                            <td>
                                 <button type="button" class="btn mb-2 btn-outline-primary" data-toggle="modal" data-target=".modal-right">voir les details</button>
                                <!-- Slide Modal -->
                              <div class="modal fade modal-right modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="defaultModalLabel">details sur l'animal de companie à héberger</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                            <p>details 1</p>
                                            <p>details 2</p>
                                            <p>details 3</p>
                                            <p>details 4</p>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">fermer</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>

                          </tr>
                        {% endfor %}


                        </tbody>
                      </table>
                    </div>
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
</main>
{% endblock %}