{% extends 'base/root_nav_sidebar.html' %}
{% block title %}
Liste des postes
{% endblock %}

{% block content %}
<main role="main" class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="page-title mb-5">ajouter une race</h2>
                <div class="card col-8 shadow mb-4">
                    <div class="card-header ">
                        <strong class="card-title">formulaire</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form {% if race1 %} action="{% url 'modify_race' idRace=race1.id %}"{% else  %} action="{% url 'save_race' %}" {% endif %} method="post">
                                {% csrf_token %}
                                <div class="form-group mb-3">
                                    <label >désignation</label>
                                    <input type="text" class="form-control" placeholder="ex : berger Allemand" name="designation" {% if race1 %} value="{{race1.designation}}" {% endif  %}>
                                    <!--                                        {{forms.designation}}-->
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-outline-primary" type="submit">valider</button>
                                </div>
                                </form>

                            </div> <!-- /.col -->

                        </div>
                    </div>
                </div>
            </div> <!-- / .card -->


        </div>
    </div>
</main>
{% endblock %}