{% extends 'base/root_nav_sidebar.html' %}
{% block title %}
Liste des postes
{% endblock %}

{% block content %}
<main role="main" class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="page-title mb-5">ajouter un patient</h2>
        <div class="card col-8 shadow mb-4">
          <div class="card-header ">
            <strong class="card-title">formulaire</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <form {% if personnel1 %} action="{% url 'modify_personnel' idPersonnel=personnel1.id %}"{% else  %} action="{% url 'save_personnel' %}" {% endif %} method="post">
                  {% csrf_token %}
                  <div class="col-md-12 mb-3">
                    <label >Poste</label>
                    <select  class="form-control" name="poste">
                      {% if not personnel1 %}
                      <option selected>Choose...</option>
                      {% endif %}
                      {% for poste in postes %}
                      {% if personnel1 and personnel1.poste.id == poste.id %}
                      <option value="{{ poste.id }}">{{poste.designation}}</option>
                      {% endif %}
                      {% endfor %}
                      {% if personnel1 %}
                      {% for poste in postes %}
                      {% if personnel1.poste.id != poste.id %}
                      <option value="{{ poste.id }}">{{poste.designation}}</option>
                      {% endif %}
                      {% endfor %}
                      {% else %}
                      {% for poste in postes %}
                        <option value="{{ poste.id }}">{{poste.designation}}</option>
                      {% endfor %}
                      {% endif %}
                    </select>
                  </div>

                  <div class="form-group mb-3">
                    <label >Nom</label>
                    <input class="form-control" type="text" name="nom" {% if personnel1 %} value="{{personnel1.nom}}" {% endif  %}>
                    <!--                                        {{forms.designation}}-->
                  </div>
                  <div class="form-group mb-3">
                    <label >Prenom</label>
                    <input class="form-control" type="text" name="prenom" {% if personnel1 %} value="{{personnel1.prenom}}" {% endif  %}>
                    <!--                                        {{forms.designation}}-->
                  </div>
                  <div class="form-group mb-3">
                    <label >Adresse</label>
                    <input class="form-control" type="text" name="adresse" {% if personnel1 %} value="{{personnel1.adresse}}" {% endif  %}>
                    <!--                                        {{forms.designation}}-->
                  </div>
                  <div class="form-group mb-3">
                    <label >Contact</label>
                    <input class="form-control" type="text" name="contact" {% if personnel1 %} value="{{personnel1.contact}}" {% endif  %}>
                    <!--                                        {{forms.designation}}-->
                  </div>

                  <div class="form-group">
                    <button class="btn btn-outline-primary" type="submit">valider</button>
                  </div>
                </form>

              </div> <!-- /.col -->

            </div>
          </div>
        </div>
      </div> <!-- / .card -->


    </div>
  </div>
</main>
{% endblock %}