{% extends 'base/root_nav_sidebar.html' %}
{% block title %}
reservations
{% endblock %}

{% block content %}
<main role="main" class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="row">
          <div class="col-5">
            <h2 class="mb-2 page-title">{{ "liste"|title }} des personnels</h2>
          </div>
        <div class="offset-4">
          <a type="button" class="btn mb-2 btn-outline-primary" href="{% url 'form_insert_personnel' %}">Ajouter un nouveau personnel</a>
        </div>

        </div>

        <div class="row my-4">
          <!-- Small table -->
          <div class="col-md-12">
            <div class="card shadow">
              <div class="card-body">
                <!-- table -->
                <table class="table datatables" id="dataTable-1">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>nom</th>
                    <th>contact</th>
                    <th>details</th>
                    <th>-</th>
                    <th>-</th>

                  </tr>
                  </thead>
                  <tbody>



                  {% for personnel in personnels %}
                  <tr>


                    <td>{{personnel.nom}}  {{personnel.prenom}}</td>
                    <td>{{personnel.contact}}</td>

                    {#                              modal details #}
                    <td>
                      <button type="button" class="btn mb-2 btn-outline-primary" data-toggle="modal" data-target=".modal-right">voir les details</button>
                      <!-- Slide Modal -->
                      <div class="modal fade modal-right modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="defaultModalLabel">Détails sur le personnel</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              {#                                        contenu du modal pour les details #}
                              {#                                            client #}
                              <div class="card p-2 m-3">
                                <div class="card-header">
                                  <h5>{{ "informations personnelles"|title}} </h5>
                                </div>
                                <div class="card-body">
                                  <p><strong>{{ "nom complet"|title}} : </strong>
                                    {{personnel.nom}}  {{personnel.prenom}}
                                  </p>
                                  <p><strong>{{ "adresse"|title }} : </strong>
                                    {{personnel.adresse}}
                                  </p>
                                  <p><strong>{{ "contact"|title }} : </strong>
                                    {{personnel.contact}}
                                  </p>

                                </div>
                              </div>
                              {#                                            patient #}
                              <div class="card p-2 m-3">
                                <div class="card-header">
                                  <h5>{{ "poste"|title }} </h5>
                                </div>
                                <div class="card-body">
                                  <p><strong>{{ "désignation"|title }} : </strong>
                                      {{personnel.poste.designation}}
                                  </p>
                                  <p><strong>{{ "rang"|title }} : </strong>
                                      {{personnel.poste.rang}}
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">{{ "fermer"|upper }}</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td><a href="{% url 'delete_personnel' idPersonnel=personnel.id %}" class="btn btn-outline-danger">supprimer</a></td>
                    <td><a href="{% url 'modify_personnel' idPersonnel=personnel.id %}" class="btn btn-outline-secondary">modifier</a></td>
                  </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div> <!-- simple table -->
        </div> <!-- end section -->
      </div> <!-- .col-12 -->
    </div> <!-- .row -->
  </div> <!-- .container-fluid -->
</main>

{% endblock %}