{% extends 'base/root_nav_sidebar.html' %}
{% block title %}
reservations
{% endblock %}

{% block content %}
<main role="main" class="main-content">
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row">
                        <div class="col-5">
                            <h2 class="mb-2 page-title">liste clients</h2>
                        </div>


                    </div>
                    <div class="row my-4">
                        <a type="button" class="btn mb-2 btn-primary" href="{% url 'form_insert_client' %}">Ajouter client</a>
                    </div>

                    <div class="row my-4">
                        <!-- Small table -->
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <!-- table -->
                                    <table class="table datatables" id="dataTable-1">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>#</th>
                                            <th>Clients</th>
                                            <th>contact</th>
                                            <th>details</th>
                                            <th>-</th>
                                            <th>-</th>

                                        </tr>
                                        </thead>
                                        <tbody>



                                        {% for client in clients %}
                                        <tr>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <label class="custom-control-label"></label>
                                                </div>
                                            </td>

                                            <td>{{client.nom}}   {{client.prenom}}</td>
                                            <td>{{client.contact}}</td>

                                            {#                              modal details #}
                                            <td>
                                                <button type="button" class="btn mb-2 btn-outline-primary" data-toggle="modal" data-target=".modal-right">voir les details</button>
                                                <!-- Slide Modal -->
                                                <div class="modal fade modal-right modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-sm" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="defaultModalLabel">details sur le personnel</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="card p-2 m-3">
                                                                    <div class="card-header">
                                                                        <h5>informations personnelles </h5>
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <p><strong>nom complet :  </strong>
                                                                            {{client.nom}}   {{client.prenom}}
                                                                        </p>
                                                                        <p><strong>adresse : </strong>
                                                                            {{client.adresse}}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                {#                                            patient #}
                                                                <div class="card p-2 m-3">
                                                                    <div class="card-header">
                                                                        <h5>Contacts </h5>
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <p><strong>contact : </strong>
                                                                            {{client.contact}}
                                                                        </p>
                                                                        <p><strong>Email : </strong>
                                                                            {{client.mail}}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">fermer</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td><a href="{% url 'delete_client' idClient=client.id %}" class="btn btn-outline-danger">supprimer</a></td>
                                            <td><a href="{% url 'modify_client' idClient=client.id %}" class="btn btn-outline-secondary">modifier</a></td>
                                        </tr>

                                        {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> <!-- simple table -->
                    </div> <!-- end section -->
                </div> <!-- .col-12 -->
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->
    </main>
</main>

{% endblock %}