{% extends 'base/root_nav_sidebar.html' %}
{% block title %}
Demandes d'hébergement
{% endblock %}

{% block content %}
<main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
                <div class="row">
                    <div class="col-5">
                        <h2 class="mb-2 page-title">Demandes d'hébergement</h2>
                    </div>
                    <div class="offset-4 ">
                        <button class="btn btn-outline-primary">voir les réservations</button>
                    </div>

                </div>

              <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">
                      <!-- table -->
                      <table class="table datatables" id="dataTable-1">
                        <thead>
                          <tr>
                            <th></th>
                            <th>#</th>
                            <th>nom du propriétaire</th>
                            <th>téléphone</th>
                            <th>animal de companie</th>
                            <th>début d'hébergement</th>
                            <th>fin d'hébergement</th>
                            <th>-</th>
                            <th>-</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <label class="custom-control-label"></label>
                              </div>
                            </td>
                            <td>368</td>
                            <td>Imani Lara</td>
                            <td>(478) 446-9234</td>
                            <td>chien</td>
                            <td>12-12-2023</td>
                            <td>13-12-2023.</td>
                            <td><button class="btn btn-danger">refuser</button></td>
                            <td><button class="btn btn-primary">accepter</button></td>

                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
</main>
{% endblock %}