{% extends 'base/root_nav_sidebar.html' %}
{% block title %}

{% endblock %}
{% block content %}

<main role="main" class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="h3 mb-3 page-title">Ajouter animaux</h2>
                <div class="row">
                    <!-- Striped rows -->
                    <div class="col-md-12 my-4">

                        <div class="card shadow">
                            <div class="card-body">
                                <div class="toolbar row mb-3">
                                    <div class="col">

                                    </div>
                                    <div class="col ml-auto">
                                        <div class="dropdown float-right">
                                            <button class="btn btn-primary float-right ml-3" type="button">ajouter +</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- table -->
                                <table class="table table-bordered">
                                    <thead>

                                    <tr role="row">
                                        <th>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="all">
                                                <label class="custom-control-label" for="all"></label>
                                            </div>
                                        </th>
                                        <th>ID</th>
                                        <th>Purchase Date</th>
                                        <th>desigantion</th>
                                        <th>proprietaire</th>
                                        <th>contact</th>
                                        <th>type animal</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="4574">
                                                <label class="custom-control-label" for="4574"></label>
                                            </div>
                                        </td>
                                        <td>4574</td>
                                        <td>2019-09-11 10:22:04</td>
                                        <td>Kitra Knapp</td>
                                        <td>(132) 339-7423</td>
                                        <td>P.O. Box 944, 4739 Suspendisse Road</td>
                                        <td>chien</td>

                                        <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="text-muted sr-only">Action</span>
                                        </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#">Edit</a>
                                                <a class="dropdown-item" href="#">Remove</a>
                                                <a class="dropdown-item" href="#">Assign</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="2132">
                                                <label class="custom-control-label" for="2132"></label>
                                            </div>
                                        </td>
                                        <td>2132</td>
                                        <td>2019-08-23 12:28:40</td>
                                        <td>Blake Orr</td>
                                        <td>(257) 565-4706</td>
                                        <td>P.O. Box 939, 9156 Sollicitudin St.</td>
                                        <td>chat</td>

                                        <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="text-muted sr-only">Action</span>
                                        </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#">Edit</a>
                                                <a class="dropdown-item" href="#">Remove</a>
                                                <a class="dropdown-item" href="#">Assign</a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <nav aria-label="Table Paging" class="mb-0 text-muted">
                                    <ul class="pagination justify-content-end mb-0">
                                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div> <!-- simple table -->
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}